<div class="box-registrations">
  <div class="container">
    <h2 class="text-center">Regístrate</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-registrations">
  <%= f.input :name,
                required: true,
                autofocus: true,
                label: false,
                input_html: { autocomplete: "name", placeholder: "Nombre Completo" }%>

    <%= f.input :email,
                required: true,
                autofocus: true,
                label: false,
                input_html: { autocomplete: "email", placeholder: "Correo Electrónico" }%>
    <%= f.input :password,
                required: true,
                label:false,
                input_html: { autocomplete: "new-password", placeholder: "Contraseña" } %>
    <%= f.input :password_confirmation,
                required: true,
                label: false,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", placeholder: "Confirme Contraseña" } %>
    <%= f.select :feeding_type,
                   options_for_select([["Elije una opcion", ""], "vegetariano", "vegano"]) %>   
     
     
    
              
  </div>

  <div>
    <%= f.button :submit, "Crear Cuenta", class:"button-green-filled mt-5" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
