<div class="container">

    <div class="row mt-5">

      <div class="col-6">
        <%= image_tag @recipe.image_url, class: 'imagen-show' %>
      </div>

      <div class="col-6">

        <div class="container-receta text-left">
          <h1 class ="p-4 "><%= @recipe.name_recipes %></h1>
          <h4>INGREDIENTES</h4>

          <%  @ingredientes = @recipe.ingredients  %>
              <ul>
            <% @ingredientes.each do |ingredient|%>
              <div class="d-flex">
                <span><%= image_tag asset_path("gota.png"), class: "reducir"%></span>
                <li class="contenedor-chico d-flex p-2"><%= ingredient.name_ingredient%>
              </div>
            <% end %>
            </ul>

          <h4>MODO DE PREPARACIÓN: </h4>
          <%= @recipe.preparation  %>

          <div class="contenedor-chico d-flex p-2 ">
            <% fav_recipe = current_user&.recipefavorites.find_by(recipe_id: @recipe.id) %>
            <% if fav_recipe %>
              <%= link_to recipe_recipes_favorite_path(@recipe, fav_recipe),method: :delete, class: "btn" do %>
                <span><i class="fas fa-3x fa-heart p-2 mr-3 c"></i></span>
              <% end %>
            <% else %>
              <%= link_to recipe_recipes_favorites_path(@recipe), method: :post, class: "btn" do %>
                <span><i class="far fa-3x fa-heart p-2 mr-3 c"></i></span>
              <% end %>
            <% end %>

            <p class="mb-0"><%= link_to  "ver más recetas", href="javascript:history.back()", class: 'button', id: 'ver-receta' %></p>

          </div>
        </div>
      </div>
    </div>
</div>
