<div class="container">

    <div class="row mt-5">

      <div class="col-6">
        <%= image_tag @recipe.image_url, class: 'imagen-show' %>
      </div>

      <div class="col-6">

        <div class="container-receta text-left">
          <h1 class ="p-4 "><%= @recipe.name_recipes %></h1> 
          <h4>INGREDIENTES</h4>

          <h4>MODO DE PREPARACIÓN: </h4>
          <%= @recipe.preparation  %>

          <div class="contenedor-chico d-flex p-2 ">

            <!-- <%= link_to recipe_recipes_favorites_path(@recipe), class: "btn " do %>
            <span><i class="far fa-3x fa-heart p-2 mr-3"></i></span>
                      <% end %> --> 

           <!--   <% if @recipefavorite.present? %>
              <button id="btn" type="button" class="btn btn-link"><i class="fas fa-3x fa-heart  p-2 mr-3"></i></button>
            <% else %>
              <button id="btn" type="button" class="btn btn-link"><i class="far fa-3x fa-heart  p-2 mr-3"></i></button>
            <% end %>-->


          <% if !Recipefavorite.exists?(user_id: current_user.id, recipe_id: @recipe.id) %>
            <%= link_to recipe_recipes_favorites_path(@recipe.id), method: :post, remote: true do %>
              <i class="far fa-3x fa-heart  p-2 mr-3"></i>
            <% end %>
          <% else %>
            <%= link_to  recipe_recipes_favorite(recipe_id: recipe.id, id: recipe.likes[0].id), method: :delete, remote: true do %>
              <i class="fas fa-3x fa-heart  p-2 mr-3"></i>
            <% end %>
          <% end %>



            <script>
              const btn = document.getElementById('btn')
              console.log(btn)
              btn.addEventListener('click', ()=> {

               })
            </script>

        
            <p class="mb-0"><%= link_to  "ver más recetas", search_path, class: 'button', id: 'ver-receta' %></p>
          </div>

        </div>
      </div>
    </div>
</div>



