<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VeggeTable</title>
  <link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

</head>

<body>

<div class="profile">
  <h1>Perfil del usuario</h1>
</div>

<div class="profile-container">
  <div class="row profile-info">
    <div class="col-sm">
      <%= image_tag asset_path("perfil.jpg"), class: 'photo' %>
    </div>

    <div class="col-sm">
      <h4><%= current_user.name.capitalize %></h4>
      <h4><%= current_user.email  %></h4>
    </div>

    <div class="col-sm">
      <h4><%= current_user.feeding_type %></h4>
      <h4>ingrediente preferido</h4>
    </div>
  </div>

  <div class="options">
    <div class="option">
      <h1><%= link_to "Favoritos",recipe_recipes_favorites_path(:recipe_id), class: 'favorite-button' %></h1>
    </div>

    <div class="option">
      <h1><%= link_to "Sugerencia del día", suggestion_path, class: 'suggest-button' %></h1>
    </div>
  </div>

  <%= link_to search_path, class: "boton-orange" do %>
    <span>Nueva Búsqueda</span>
    <div></div>
  <% end %>

</div>

</body>
</html>
