<nav class="navbar navbar-white bg-white justify-content-between sticky-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'logovegge-01.png', alt: 'logo', class:"logo"  %>
  <% end %>
  <div class="form-inline mr-2">
    <% if user_signed_in? %>
      <%= link_to "Ver Perfil", profile_path, class: "navbar-button navbar-btn-Perfil mr-2" %>
      <%= link_to "Cerrar Sesión",  destroy_user_session_path,  :method => "delete" , class: "btn navbar-btn-Salir" %>
    <% else %>
      <%= link_to  "Iniciar Sesión", new_user_session_path, class: 'btn navbar-btn-Perfil mr-2'%>
      <%= link_to  "Regístrate", new_user_registration_path, class: 'btn navbar-btn-Salir' %>
    <% end %>
  </div>
</nav>
 
