<div class="home-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('image.png')%>);">
    <div class="d-flex justify-content-end align-items-end w-75">
      <h1><span class="h-green text-center">Buena mano</span> <span class="h-orange">y todo a mano</span></h1>
    </div>
  </div>

  <div class="container">
    <div class="text">
      <h1>En 3 simples pasos</h1>
    </div>

    <div class="steps">
      <div class="step stepg">
        <h1><span class="num-g">1 </span><span class="subtitle">Revisa</span></h1>
        <p><span class="p-green">No te preocupes! Cocinaremos solo con tus ingredientes disponibles</span></p>
      </div>

      <div class="step stepo">
        <h1><span class="num-o">2 </span><span class="subtitle">Ingresa</span></h1>
        <p><span class="p-orange">Ingresa tantos ingredientes como gustes, ¡el límite también lo indicas tú!</span></p>
      </div>

      <div class="step stepg">
        <h1><span class="num-g">3 </span><span class="subtitle">Cocina</span></h1>
        <p><span class="p-green">Elije la receta que prefieras y cocina sin salir de casa y sin gastar demás</span></p>
      </div>
    </div>

    <%= link_to search_path, class: "button" do %>
      <span>Búsqueda</span>
      <div></div>
    <% end %>

    <div class="card">
    <p>
      <a>No es solo tener buena mano para cocinar, sino cocinar con lo que tengo a mano</a>
     </p>
    </div>
  </div>

  <div class="footer">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag asset_path("pic2.jpeg"), class: 'slide' %>
      </div>
      <div class="carousel-item">
        <%= image_tag asset_path("pic3.jpeg"), class: 'slide' %>
      </div>
      <div class="carousel-item">
        <%= image_tag asset_path("pic4.jpeg"), class: 'slide' %>
      </div>
      <div class="carousel-item">
        <%= image_tag asset_path("pic5.jpeg"), class: 'slide' %>
      </div>
      <div class="carousel-item">
        <%= image_tag asset_path("pic6.jpeg"), class: 'slide' %>
      </div>
    </div>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    </div>
  </div>
</div>

<footer>
 <div class= "p-1" style="background: #edeeed;">
 
 

      <section class="mb-1">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-2"
        style="background-color: #000000;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-2"
        style="background-color: #000000;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-2"
        style="background-color: #000000;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i></a>

    <p class="text-footer">© 2021 VeggeTable
  </p>
</footer>
