<div class="container p-1" >

  <h1 class="title-busqueda"><span class="h-green">¡Revisa tu nevera</span> <span class="h-orange">e ingresa tus ingredientes!</span></h1>
</div>

<h5 class="mt-5 mb-5 mr-5 ml-5">Siempre es un buen momento para probar algo nuevo y disfrutar en casa, ¡sabe mejor!</h5>

  <%= form_tag recipes_path, method: :get do %>

      <%= select_tag 'ingredients', options_from_collection_for_select(@ingredients, :id, :name_ingredient), class: 'select2', multiple: true, style: 'width: 250px;' %>

      <input type="submit" value="Buscar", class= 'button-orange' >

  <% end %>
<div class= "container p-4">
</div>

  <div class="footer">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag asset_path("pic2.jpeg"), class: 'slide' %>
      </div>
      <div class="carousel-item">
        <%= image_tag asset_path("pic3.jpeg"), class: 'slide' %>
      </div>
      <div class="carousel-item">
        <%= image_tag asset_path("pic4.jpeg"), class: 'slide' %>
      </div>
      <div class="carousel-item">
        <%= image_tag asset_path("pic5.jpeg"), class: 'slide' %>
      </div>
      <div class="carousel-item">
        <%= image_tag asset_path("pic6.jpeg"), class: 'slide' %>
      </div>
    </div>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    </div>
  </div>
<footer>
 <div class="text-center  p-1" style="background: #edeeed;">
 
      <div class="container p-4 pb-0">
      <!-- Section: Links -->
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
          <h3>Nuestras Redes Sociales</h3> 
        </div>
      </div>

      <section class="mb-1">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-2"
        style="background-color: #000000;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-2"
        style="background-color: #000000;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-2"
        style="background-color: #000000;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i></a>
    <p><a class="text-reset h5 fw-bold">© 2021 VeggeTable</a>
  </p>
</footer>
